@use '@styles/func';

.root { padding: func.rem(40) 0; }
.table { width: 100%; border-collapse: collapse; }
.table th, .table td { border: 1px solid var(--color-accent-outline); padding: func.rem(8) func.rem(10); }
.actions { display: flex; gap: func.rem(8); }
